<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">

    <title>服务器监控</title>
    <link href="../static/css/index.css" rel="stylesheet" type="text/css"></link>
    <script type="text/javascript" src="../static/js/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>

</head>

<body id="bg">
<div class="container">

	<div class="leftsidebar_box">
		<div class="line"></div>
        <dl class="test"><!--这里的test名字跟js里对应-->
			<dt>测试服</dt>
			<dd><a class="status" href="#">服务器状态信息</a></dd>
            <dd><a class="start" href="#">启动服务器</a></dd>
		</dl>
	
		<dl class="apple">
			<dt>Apple官方服</dt>
			<dd><a href="#">服务器状态信息</a></dd>
            <dd><a href="#">启动服务器</a></dd>
		</dl>
	</div>

    <div class="middle_content">
        <iframe class='status_show'></iframe>
    </div>
    <audio src="" autoplay="autoplay"></audio> 
</div>
</body>

</html>
