<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-control" content="no-cache" />
    <meta http-equiv="Cache" content="no-cache" />

    <title>服务器状态</title>
    <style type="text/css">
       html body {
            margin-left: 8px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #333;
            overflow:hidden;
        }

    </style>
</head>

<body>
    <h3>SERVER STATUS</h3><hr><br>
    <p>BuildAssist&nbsp;&nbsp; .................................[{{.BuildAssist}}]</p>
    <p>login_server .................................[{{.login_server}}]</p>
</body>

</html>
